@use '../../../styles.scss' as styles;

.cardInicial {
  @include styles.ConfigWidthCards();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 6em 20px; 
  color: styles.$Logo-color-Azul;
  border-radius: 20px;

    h2 {
      font-size: 52px;
      width: 100%;
      max-width: 700px;
    }
    p {
      font-size: 16px;
      width: 100%;
      max-width: 700px;
      margin: 20px 0;
    }
    button {
      @include styles.styleBotao();
      background-color: styles.$Logo-color-Vermelho;
      color: white;
      font-size: 14px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(styles.$Logo-color-Vermelho, 10%);
      }
  }

  @media (max-width: #{styles.$breakpoint-tablet}) {
    padding: 4em 20px; 
  }

  @media (max-width: #{styles.$breakpoint-mobile}) {
    padding: 3em 20px; 
    h2 {
      font-size: 32px;
      width: 100%;
      max-width: 700px;
    }
    p {
      font-size: 14px;
      width: 100%;
      max-width: 700px;
      margin: 20px 0;
    }
  }
}
