@use '../../../styles.scss' as styles;

.cardInicial {
  @include styles.ConfigWidthCards();
  background-image: url('../../assets/ImgCardDesenhoDigital.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  align-items: start;
  padding: 6em 20px; 
  background-color: styles.$Logo-color-Azul;
  color: styles.$background-color;
  border-radius: 20px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: styles.$Logo-color-Azul;
    opacity: 0.6;
    border-radius: 20px;
    pointer-events: none;
    z-index: 1;
  }

    h2,
    p,
    button {
      position: relative;
      z-index: 2;
    }

    h2 {
      font-size: 52px;
      width: 100%;
      max-width: 700px;
    }
    p {
      font-size: 16px;
      width: 100%;
      max-width: 700px;
      margin: 20px 0;
    }
    button {
      @include styles.styleBotao();
      background-color: styles.$Logo-color-Vermelho;
      color: styles.$background-color;
      font-size: 14px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(styles.$Logo-color-Vermelho, 10%);
      }
  }

  @media (max-width: #{styles.$breakpoint-tablet}) {
    padding: 4em 20px; 
  }

  @media (max-width: #{styles.$breakpoint-mobile}) {
    padding: 3em 20px; 
    h2 {
      font-size: 32px;
      width: 100%;
      max-width: 700px;
    }
    p {
      font-size: 14px;
      width: 100%;
      max-width: 700px;
      margin: 20px 0;
    }
  }
}
