@use '../../../styles.scss' as styles;

.programa-card-base {
  gap: 10px;
  max-width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid styles.$Logo-color-Vermelho;
  color: styles.$Logo-color-Azul;

  div {
    width: 100%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
  }

  h3 {
    font-family: styles.$font-family-primary;
    color: styles.$primary-text;
  }

  p {
    font-weight: 200;
    color: styles.$primary-text;
  }
  
  button {
    border: none;
    padding: 6px;
    background-color: styles.$background-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(styles.$Logo-color-Vermelho, 10%);
      cursor: pointer;
      a{
        color: styles.$background-color;
      }
    }
    a {
      color: styles.$Logo-color-Vermelho;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

#programa-card-iniciante {
  background-image: url('../../../../public/ImgIniciante.jpg');
}
#programa-card-Intermediario {
  background-image: url('../../../../public/ImgIntermediario.jpg');
}
#programa-card-Avancado {
  background-image: url('../../../../public/ImgAvancado.jpg');
}
#programa-card-Workshops {
  background-image: url('../../../../public/ImgWorkshops.jpg');
}
