@use '../../../styles.scss' as styles;

.Contato-container {
  @include styles.ConfigWidthCards();
  padding: 3em 20px;
  border-radius: 20px;
  color: styles.$primary-text;
  gap: 24px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .Contato-div-texto {
    max-width: 600px;

    h2 {
      font-size: 32px;
      font-family: styles.$font-family-primary;
      margin-bottom: 12px;
      color: styles.$Logo-color-Azul;
    }
    .Contato-div-texto-Subtexto {
      margin-bottom: 24px;
      font-size: 16px;
      color: styles.$primary-text;
    }

    .Contato-div-texto-textFone {
      font-size: 14px;
      font-weight: 300;
    }

    .Contato-div-texto-telefone {
      font-size: 24px;
      margin-top: 12px;
    }
  }

  .Contato-div-formulario {
    width: 100%;
    max-width: 600px;

    form {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      div {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      label {
        display: flex;
        gap: 2px;
        strong {
          color: styles.$Logo-color-Vermelho;
          font-size: 10px;
        }
      }

      input,
      select {
        border: none;
        border-bottom: 1px solid styles.$Logo-color-Vermelho;
        padding: 10px;
        background-color: transparent;
        border-radius: 0;
        color: styles.$secondary-text;
        margin-top: 5px;
        outline: none;

        &::placeholder {
          color: styles.$secondary-text;
        }
      }

      select {
        option {
          background-color: #0f222d;
          color: white;
          border: none;
        }
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: styles.$Logo-color-Vermelho;
        color: white;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(styles.$Logo-color-Vermelho, 10%);
          cursor: pointer;
        }
      }
      .Inputs-Nome-Sobrenome {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: space-between;
        div {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: #{styles.$breakpoint-tablet}) {
  .Contato-container {
    flex-direction: column-reverse;
    align-items: center;
    .Contato-div-texto {
      h2 {
        font-size: 24px;
      }
      div {
        .Contato-div-texto-Subtexto {
          font-size: 14px;
        }

        .Contato-div-texto-textFone {
          font-size: 12px;
        }

        .Contato-div-texto-telefone {
          font-size: 16px;
        }
      }
    }
  }
  .Inputs-Nome-Sobrenome {
    flex-wrap: wrap;
  }
}
