@use '../../../styles.scss' as styles;

.Depoimentos-container{
    @include styles.ConfigWidthCards();

    h2{
        @include styles.styleH2titulos();
    }

    p{
        @include styles.stylePsubtitulos();
    }

    .Depoimentos-lista{
        margin-top: 20px;
        display: flex;
        gap: 20px;
        overflow-x: auto;
    }
}