@use '../../../styles.scss' as styles;

.programas-container{
    @include styles.ConfigWidthCards();

    h2{
        @include styles.styleH2titulos();
    }

    p{
        @include styles.stylePsubtitulos();
    }

    .programas-lista {
        margin-top: 40px;
        display: flex;
        gap: 15px;

    }

    @media (max-width: #{styles.$breakpoint-tablet}) {
        .programas-lista{
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

    }

    @media (max-width: #{styles.$breakpoint-mobile}) {
        .programas-lista{
            flex-direction: column;
            align-items: center;
        }
        .programa-card-base{}

    }
}