@use '../../../styles.scss' as styles;

.programas-container{
    @include styles.ConfigWidthCards();

    h2{
        @include styles.styleH2titulos();
    }

    p{
        @include styles.stylePsubtitulos();
    }

    .programas-lista {
        margin-top: 20px;
        display: flex;
        gap: 15px;

        .programa-card-base {
            max-width: 350px;
            height: 250px;
            padding: 20px;
            border-radius: 20px;
            gap: 10px;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                background: styles.$Logo-color-Azul;
                opacity: 0.5;
                border-radius: 20px;
                pointer-events: none;
            }

            h3,p{
                z-index: 1;
                color: styles.$background-color;
            }

            h3{
                font-family: styles.$font-family-primary;
                color: styles.$Logo-color-Amarelo;
            }
        }

        .programa-card-iniciante {
            @extend .programa-card-base;
            background-image: url('../../../../public/ImgIniciante.jpg');
        }
        .programa-card-Intermediario {
            @extend .programa-card-base;
            background-image: url('../../../../public/ImgIntermediario.jpg');
        }
        .programa-card-Avancado {
            @extend .programa-card-base;
            background-image: url('../../../../public/ImgAvancado.jpg');
        }
        .programa-card-Workshops{
            @extend .programa-card-base;
            background-image: url('../../../../public/ImgWorkshops.jpg');
        }

    }

    @media (max-width: #{styles.$breakpoint-tablet}) {
        .programas-lista{
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

    }

    @media (max-width: #{styles.$breakpoint-mobile}) {
        .programas-lista{
            flex-direction: column;
            align-items: center;
        }
        .programa-card-base{}

    }
}