@use '../../../styles.scss' as styles;

.preco-card-base {
  padding: 40px 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;

  div{
    h3 {
        font-family: styles.$font-family-primary;
        color: styles.$primary-text;
    }

    p {
        color: styles.$secondary-text;
        font-weight: 200;
    }
   }  

   ul{
    display: flex;
    flex-direction: column;
    gap: 4px;
   }

   .preco-card-valor{
    color: styles.$Logo-color-Laranja;
    font-size: 24px;
   }

}