/*Variables Sass*/

$primary-text: #000000;
$secondary-text: #00000086;

$background-color: #EBE7D9;

$Logo-color-Azul: #0F222D;
$Logo-color-Vermelho: #BA3521;
$Logo-color-Laranja: #F55139;
$Logo-color-Amarelo: #FFF5D0;

/*mixins Sass*/

/*Main Sass*/


