/*Variables Sass*/

$primary-text: #000000;
$secondary-text: #00000086;

$background-color: #EBE7D9;

$Logo-color-Azul: #0F222D;
$Logo-color-Vermelho: #BA3521;
$Logo-color-Laranja: #F55139;
$Logo-color-Amarelo: #FFF5D0;

$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Roboto", sans-serif;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;

/*mixins Sass*/

@mixin ConfigWidthCards(){
    max-width: 1300px;
    margin: auto;
}

@mixin styleBotao(){
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/*Main Sass*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $background-color;
    font-family: $font-family-secondary;
}


